thead {
  background-color: #333;
  color: #fff;
}
td {
  background-color: white;
  color: #333;
}

#app > div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: auto;
}
div > #message {
  background: #f0f0f0;
  font-size: 1rem;
  flex: 1 auto;
  text-align: center;
  margin: 5px;
  justify-content: center;
}

/* TYPOGRAPHY DEFAULTS
====================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* fontawesome update */
@import url("https://use.fontawesome.com/releases/v5.8.1/css/solid.css");

body {
  /* padding: 0 2rem; */
  font: 1rem/1.2 "Open Sans", Helvetica, Arial, sans-serif;
  background: #222222;
  color: #888888;
}

h2,
h3 {
  font-size: 2rem;
}
h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #333333;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: -0.15rem;
  text-align: center;
  color: #555555;
}

h2 strong {
  font-weight: 800;
  color: #888888;
}
h4 {
  font-weight: 800;
  line-height: 1.25;
  color: black;
}
p + p {
  margin-top: 2rem;
  /* fix for error label  */
  position: relative;
}

h3 {
  color: black;
  text-transform: uppercase;
  border-bottom: 2px solid #333333;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: -0.15rem;
  text-align: center;
}
/* FORM
====================================================================== */
form {
  position: relative;
  max-width: 600px;
  padding: 3rem;
  margin: 1rem auto;
  background: #f0f0f0;
}
form h2 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 100%;
}

/* LABELS
====================================================================== */
label:not(.error) {
  display: none;
}

/* INPUTS
====================================================================== */
input,
textarea {
  width: 100%;
  padding: 1rem 0;
  background: none;
  border-bottom: 1px solid #dddddd;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}
input:focus,
textarea:focus {
  border-bottom: 1px solid #aaaaaa;
}
input::placeholder,
textarea::placeholder {
  color: #aaaaaa;
  font-weight: 400;
}
textarea {
  height: 15rem;
}

/* SUBMIT
====================================================================== */

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  background: #222222;
  color: #f0f0f0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s;
}
button[type="submit"]:not(.disabled):hover {
  background: #333333;
  transform: scale(1.025);
}
button[type="submit"]:not(.disabled):active {
  background: #111111;
  transform: scale(1.05);
}

/* ERROR LABEL
====================================================================== */
@keyframes bounce-right {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.notification {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: 2px solid #333333;
  font-size: 1.4rem;
  color: #333333;
  background-color: white;
  animation: bounce-right 1s;
}
.notification::before {
  /* fontawesome update */
  font-family: "Font Awesome 5 Free";
  font-size: 2.1rem;
  display: block;
  position: absolute;
  top: 0.5rem;
  left: -3rem;
  /* font: 2.1rem FontAwesome; */
  color: #333333;
}
@media only screen and (min-width: 800px) {
  #app,
  body,
  form {
    max-width: 100%;
    padding: 2rem;
    margin: 0rem;
  }
  #app > div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    max-width: 80%;
    font-size: 2.1rem;
  }
  thead,
  th {
    background-color: #333;
    color: #fff;
  }
  tr,
  img {
    background-color: white;
    color: #333;
  }

  td {
    background-color: white;
    color: #333;
       font-size: .9rem;
  }
}
